/* stylesheet for mobile views */

.mobile{
    height: 100dvh;
    width: 100vw;
}
#mobile-error-message{
    color: rgb(195, 11, 11);
    font-size: 3dvh;
    font-weight: bold;
    margin-bottom: 1dvh;
    margin-left: auto;
    margin-right:auto
}
.mobile-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
}
.mobile-remote{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.remote-middle-container{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 5%;
}
.mobile-remote-arrow{
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.mobile-container > img{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 5dvh;
    margin-top: 5dvh;
    margin-bottom: 5dvh;
}
#mobile-key-input{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1dvh;
    border: 4px solid rgba(221, 233, 244);
    text-align: center;
}
#mobile-enter-button{
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: darkgreen;
    border-radius: 15px;
    border: 3px solid black;
    color: white;
    font-size: 4dvh;
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    margin-top: 2dvh;
    margin-bottom: 5dvh;
}
#mobile-enter-button:hover{
    background-color: rgba(0, 100, 0, 0.5);
}

#score-board-retro-m{
    margin: auto;
    border: 4px solid gray;
    /*width: calc(100vh - 8px);
    height: calc(100vw - 8px);*/
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    resize: none;
    overflow: hidden;
    height: calc(100dvh - 8px);
    width: calc(100vw - 8px);
/* margin-top: calc(100vh - 100dvh - 8px); */
    
}
#score-board-period-retro-m{
    font-weight: 800;
    font-size: 5vw;
    font-family: Scoreboard;
    text-align: right;
    width:fit-content;
    /*padding-left: 50px;*/
    padding-right: 10px;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    color: yellow;
}
.score-board-period-container-retro-m{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.score-board-period-label-retro-m{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-weight: bold;
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic
}


#game-clock-m{
    font-weight: 800;
    font-size: 7vw;
    font-family: Scoreboard;
    text-align: right;
    width:fit-content;
    /*padding-left: 50px;*/
    padding-right: 10px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: auto;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    color: red;
    border-right: 4px solid gray;
    border-left: 4px solid gray;
    border-bottom: 4px solid gray;
}

.score-board-score-retro-m{
    font-weight: 800;
    font-size: 8vw;
    font-family: Scoreboard;
    text-align: right;
   /*padding-left: 8%;*/
    /*padding-right: 8%;*/
    width:fit-content;
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    
}
.score-board-info-m{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: fit-content;
    color: white;
    /*font-size: 1rem;*/

    /* mainly for retro*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    
}
.score-board-info-middle-m{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: fit-content;
    color: white;

    /* mainly for retro*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    
}

.score-board-location-m{
    margin-top: 0;
    padding-bottom: 0;
    font-size: 2.75vw; /* sized based on character HEIGHT: 1/2 height is width*/
}
.score-board-name-m{
    margin-top: 0;
    font-size: 3.3vw;
    font-weight: bold;
}


.score-board-logo-m{
    /*min-width: 100px;
    min-height: 100px;
    max-height: 200px;*/
    width:15vw;
    height:auto;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
#spacer{
    height: 0;
}
.basic-container-m{
    height: 100vh;
   /* width: 100vw; might be ok here*/
}
.ha-white{
    background-color: white;
}

@media (min-aspect-ratio: 1/1) { /*wider than tall*/
    /*#spacer {
        height: calc(100vh - 100dvh - 8px);
      }*/
      .mobile{
        overflow: scroll;
    }
}
@media (max-aspect-ratio: 1/1) {/*taller than wide*/
    .mobile{
        overflow: hidden;
    }
    .basic-container-m{
        height: 100vh;
        width: 100vw;
    }
  #score-board-retro-m {
      transform: rotate(90deg);
      transform-origin: calc(25vh + 9px) center; /*9px cux of borders*/
      height: calc(100vw - 8px);
      width: calc(100dvh - 8px);
    }
  .score-board-logo-m{
    width:15dvh;
    height: auto
  }
  #game-clock-m{
    font-size: 7dvh;
  }
  .score-board-location-m{
    font-size: 2.75dvh; /* sized based on character HEIGHT: 1/2 height is width*/
}
.score-board-name-m{
    font-size: 3.3dvh; /* sized based on character HEIGHT: 1/2 height is width*/
}
.score-board-score-retro-m{
    font-size: 8dvh; /* sized based on character HEIGHT: 1/2 height is width*/
}
#score-board-period-retro-m{
    font-size: 6dvh;
}
.score-board-period-label-retro-m{
    font-size: 4dvh;
}
}