
@font-face { font-family: Scoreboard; src: url('scoreboard.ttf'); } 

.main-button{
    width: 100px;
    height: 50px;
}
.Game{
    background-color: white;
    height: 100%;
}
.Game-dark{
    background-color: black;
    height: 100%;
}
.App{
    height: 100dvh; /* 100vh */
}

.goal-replay-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 96%;
    margin: auto;
}
.goal-replay-iframe{
    width: 95%;
    height: 100%;
    margin: auto;
    margin-left: auto;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
}
#goal-replay-back-button{
    margin-top: 1.25%;
    margin-bottom: auto;
    margin-left: 1.25%;
    margin-right: auto;
    width: 2.5%;
    height:auto;
}
/* * * * * * * * * * * * * * * * * * * * * * * * Home.js Component * * * * * * * * * * * * * * * * * * * * * * * */
#main-home-logo{
    /*margin-left: calc(50% - 150px);
    margin-right: auto;*/
}
.home-mobile-info{
    display:flex;
    flex-direction: column;
    gap:20px;
}
#mobile-info-text{
    font-size: 1.25rem;
    color:black;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}
.home-mobile-info-qr{
    display:flex;
    flex-direction: column;
    background-color: rgba(221, 233, 244);
    border-radius: 20px;
    padding:15px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.home-header-info{
    display:flex;
    flex-direction: row;
    margin-left: calc(50% - 150px);
    margin-right: auto;
    gap:50px;
}
#qr-code{
    width: 170px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
#mobile-key{
    font-size: 1.5rem;
    color:white;
    background-color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}


#home-page{
    display: flex;
    flex-direction: column;
    overflow-y: scroll; /*may need this */
    height: 100%;
    /*height: auto;*/
}
#footer-blurb{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.431);
    border-radius: 15px;
}

#footer-tag{
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    font-family: Copperplate;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#home-footer{
    margin-top: auto;
    margin-bottom: 0;
    background-color: rgba(128, 128, 128, 0.413);
    min-height: fit-content;
}

.footer-line{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#footer-main-logo{
    width: 80px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer-logos{
    width: 60px;
    height: 60px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.footer-logos:hover
{
  filter: brightness(0.8);
  transition: filter 0.2s ease;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.gameList{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-bottom: 50px;
    max-height: 70vh;
    padding-bottom: 20px;
    padding-top: 20px;
    overflow-y: scroll;
    min-height: 60%;
}
.gameList::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.gameCard{

    background-color: gray;
    border-radius: 25px;
    border: 3px solid black;
    width: 70%;
    min-width: 200px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 5px 5px 10px 1px;
    
}
.gameCardFUT{

    background-color: rgb(181, 97, 97);
    border-radius: 25px;
    border: 3px solid black;
    width: 70%;
    min-width: 200px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 5px 5px 10px 1px;
    
}
.cardContainer{
    margin: auto;
    display: flex;
    flex-direction: row;
    width:fit-content;
    gap:20px;
    line-height: 40px;
    font-weight: bold;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.gameCard:hover{
    background-color: rgba(128, 128, 128, 0.7);
}

.logo{
    width: 80px;
    height: 80px;
}

#live-img{
    width: 80px;
    height: 40px;
    margin-top: 10px;
}

#home-date-container{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    background-color: rgba(221, 233, 244);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
}
#home-date{
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    padding-bottom: 0;
}
/* * * * * * * * * * * * * * * * * * * * * * * * PlayerHighlight.js Component * * * * * * * * * * * * * * * * * * * * * * * */

.player-form{
    display: none;
    flex-direction: column;
    border: 2px solid gray;
    background-color: white;
    width: 60%;
    height: fit-content;
    min-height: 300px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
    position: absolute;
    top: 30%;
    left: 20%;
    border-radius: 15px;
}

.player-select-container{
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 850px;
    min-width: 300px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.team-select-container{
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 850px;
    min-width: 300px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.setting-select-container{
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 850px;
    min-width: 300px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(191, 217, 250);
    border-radius: 15px;
}


.player-select{
    position: absolute;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 2;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: fit-content;
    max-height: 400px;
}
.player-select-selected{
    background-color: rgb(245, 245, 245);
    color: black;
    cursor: pointer;
    height:50px;
    line-height: 50px;
    border-radius: 5px;
}
#pss-settings{
    width: 40%;
    margin-right: auto;
    margin-left: 10px;
}
#pss-settings-label{
    width: fit-content;
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 0;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    padding: 0;
}
.player-option{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height:70px;
    background-color: white;
    border-top: 1px solid gray;
}

.player-option-img{
    height: 70px;
    width:70px;
    margin-right: 20px;
    margin-left: auto;
    object-fit: fit;/*changed from fill */
}
.player-option-text{
    line-height: 50px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.player-option:hover {
    background-color: rgba(227, 227, 227);
}

#player-form-cancel{
    width: auto;
    height: 30px;
    margin-left: auto;
    margin-right: 20px
}

#player-form-add{
    width: auto;
    height: 30px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    background-color: green;
}

#player-focus-container{
    display:flex;
    flex-direction: column;
    margin:auto;
    gap:10px;
}

.stat-select-container{
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 850px;
    min-width: 300px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.team-stat-select-container{
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 850px;
    min-width: 300px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.stat-option{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height:40px;
    background-color: white;
    border-top: 1px solid gray;
}
.stat-option:hover {
    background-color: rgba(227, 227, 227);
}

.stat-option-text{
    line-height: 40px;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 0;
    margin: auto;

}

.selected-stat-element{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    height:60px;
    background-color: rgb(191, 217, 250);
    border-radius: 15px;
}

/*.stat-option:hover {
    background-color: rgb(191, 217, 250);
}*/

#custom-options-container{
    display: flex;
    flex-direction: column;

}

#custom-stats-container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80%;
    max-width: 850px;
    min-width: 300px;
    height: fit-content;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
}

.stat-delete-img{
    height: 25px;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;
    /*margin-left: auto;*/
    margin-right: 10px;
}
#form-element{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 850px;
}

#player-highlight-message{
    width: fit-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    font-weight:800;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    -webkit-text-stroke: 2px black;
}

.player-focus-button-container{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-left: auto;
    margin-right: auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * PlayerCard.js Component * * * * * * * * * * * * * * * * * * * * * * * */

.PlayerCard1{
    height:fit-content;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    border: 4px solid black;
    display:flex;
    flex-direction: column;
    margin:auto;
    z-index: 1;
    min-width: 600px; 
    min-height: 300px;
    max-width: 80%;
    max-height: 501px; /*40vh */
    resize: none;
    overflow: hidden;
    container-name: playercard;
    container-type: size;
}

@media only screen and (min-width: 1400px){
    .PlayerCard1
    {
        resize: vertical;
    }
    
}
@media only screen and (max-width: 900px){
    .PlayerCard1
    {
        max-height: 350px;
    }
    
}
@media only screen and (min-width: 900px) and (max-width: 1500px){
    .PlayerCard1
    {
        max-height: 400px;
    }
    
}

.PlayerCard{
    height:fit-content;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    /*border: 4px solid black;*/
    display:flex;
    flex-direction: column;
    margin:auto;
    z-index: 1;
}
#player-card-layer2{
    height:100%;
    width: 100%;
    background-color: transparent;
    border-radius: 15px;
    /*border: 3px solid green;*/
    display:flex;
    flex-direction: row;
    margin:auto;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 700px 700px;
    background-position: -10% 40%;
    opacity: 0.9;
}
.player-card-stat-container{
    display: flex;
    flex-direction: column;/* column */
    gap: 5px;
    width: 50%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 15px;
}
.player-card-normal-stat-container{
    display: flex;
    flex-direction: row;/* column */
    gap: 5px;
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    border-radius: 15px;
}


.player-card-stat{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    padding:5px;
    margin-left: 0;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

#player-card-stat-left{
    margin-left: 50px;
    margin-right: auto;
}
#player-card-stat-right{
    margin-left: auto;
    margin-right: 50px;
}
.player-card-line-stat{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    padding:5px;
    margin-top: auto;
    margin-bottom: auto;
    
}

.bg-player-card-text-container{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.bg-player-card-text-container-team{
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0; /*75px*/
}
#bg-player-card-text{
    font-size: 4rem;
    font-weight: 800;
    color: transparent;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 75px; /*75px*/
    -webkit-text-stroke: 1px white;
}
#bg-player-card-number{
    font-size: 15rem;
    font-weight: 800;
    color: transparent;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 75px; /*75px*/
    -webkit-text-stroke: 1px white;
}
#player-card-name{
    font-size: 3rem;
    font-weight: 800;
    color: white;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto ;
    margin-right: 25px; /*75px; */
    -webkit-text-stroke: 2px gray;
}
.player-card-name-container{
    display: flex;
    width:100%;
    background-color: black;
}
#profile-pic-and-button{
    display:flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 0;
    min-width: fit-content;
}

#player-card-layer3{
    height:100%;
    width: 100%;
    background-color: transparent;
    border-radius: 15px;
    /*border: 1px solid blue;*/
    display:flex;
    flex-direction: row;
    margin:auto;
    position: absolute;
    z-index: 3;
}
/* i don't think this is in use */
.PlayerCard1-dark{
    height:fit-content;
    width: 80%;
    background-color: black;
    border-radius: 15px;
    border: 4px solid white;
    display:flex;
    flex-direction: column;
    margin:auto;
    /*resize: none;*/
    /*overflow: hidden;*/
    container-name: playercard;
    container-type: size;
}
.PlayerCard-dark{
    height:fit-content;
    width: 80%;
    background-color: black;
    border-radius: 15px;
    border: 4px solid white;
    display:flex;
    flex-direction: column;
    margin:auto;
}
.player-card-delete{
    height: 25px;
    width: 20px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
    padding: 5px 8px 5px 8px;
    object-fit:contain;
    border-radius: 50%;
    background-color: white;
}
.player-card-delete:hover{
    background-color: rgba(128, 128, 128, 0.2);
}
.player-card-img{
    height: 200px;
    width:200px;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 75px;
}
.player-card-line-container{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 1);
    border: 2px solid white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}
.shrunk-stat-line-text{
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0;
    padding-right: 5px;
    font-size: 1.25rem;
}
.shrunk-player-card-line-stat{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-size: 1.3rem;
    padding:5px;
    margin-top: auto;
    margin-bottom: auto;
}
.player-card-container{
    display: flex;
    flex-direction: column;/*row */
    min-width:fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
    gap:10px;
}

/* as user resizes playercard & teamcard */
/*changes based upon width of card*/
@container playercard (width < 700px) {
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-normal-stat-container > .player-card-container{
        /*width: 300px;*/
    }
    #player-card-layer2 > #player-card-layer3 >.player-card-stat-container > .player-card-normal-stat-container{
        margin-left: 0; 
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-normal-stat-container > .player-card-container > .player-card-stat {
        font-size: 1rem;
    }
}
@container playercard (width > 700px) and (width < 1000px){
    /* default */
}
@container playercard (width > 1000px){
 
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-normal-stat-container > .player-card-container{
        /*width: 600px;*/
    }
    #player-card-layer2 > .bg-player-card-text-container{
        /*margin-right: 100px;*/
    }
    #player-card-layer3 > .player-card-stat-container .player-card-normal-stat-container > .player-card-container> .player-card-stat{
        font-size: 1.75rem;
    }

}

/*changes based upon height of card*/
@container playercard (height > 375px) and (height < 500px) and (width > 1200px){
    #player-card-layer2 > #player-card-layer3 > #profile-pic-and-button > .player-card-img{
        width:250px;
        height:250px;
    }
    #player-card-layer2 >#bg-player-card-number{
        font-size: 18rem;
    }
    #player-card-layer2 >.bg-player-card-text-container-team > #bg-player-card-text{
        font-size: 6rem;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-normal-stat-container> .player-card-container > .player-card-stat {
        font-size: 2.25rem;
    }
    
    .player-card-name-container > #player-card-name{
        font-size: 4rem;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-normal-stat-container> .player-card-container{
        gap: 20px;
    }
     /* line stats */
     /*
     #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-line-container >.player-card-line-stat{
        font-size: 2rem;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-line-container >.progress-bar-container-with-label > p{
        font-size: 1.25rem;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-line-container >.progress-bar-container-with-label > .progress-bar-container > .progress-bar-slider {
        font-size: 0.9rem;
        height: 25px;
        line-height: 25px;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-line-container >.progress-bar-container-with-label > .progress-bar-container > .progress-bar {
        height: 8px;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-line-container >.progress-bar-container-with-label > .progress-bar-container > .progress-bar-ext {
        height: 8px;
    }*/
}

@container playercard (height > 500px) and (width > 1200px){
    #player-card-layer2 > #player-card-layer3 > #profile-pic-and-button > .player-card-img{
        width:300px;
        height:300px;
    }
    #player-card-layer2 >#bg-player-card-number{
        font-size: 22rem;
    }
    #player-card-layer2 >.bg-player-card-text-container-team > #bg-player-card-text{
        font-size: 7rem;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-normal-stat-container> .player-card-container > .player-card-stat {
        font-size: 2.75rem;
    }
    
    .player-card-name-container > #player-card-name{
        font-size: 5rem;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-normal-stat-container >.player-card-container{
        gap: 30px;
    }
        /* line stats */
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-line-container >.player-card-line-stat{
        font-size: 2.5rem;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-line-container >.progress-bar-container-with-label > p{
        font-size: 1.75rem;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-line-container >.progress-bar-container-with-label > .progress-bar-container > .progress-bar-slider {
        font-size: 1rem;
        height: 30px;
        line-height: 30px;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-line-container >.progress-bar-container-with-label > .progress-bar-container > .progress-bar {
        height: 10px;
    }
    #player-card-layer2 > #player-card-layer3 > .player-card-stat-container > .player-card-line-container >.progress-bar-container-with-label > .progress-bar-container > .progress-bar-ext {
        height: 10px;
    }

}

/* * * * * * * * * * * * * * * * * * * * * * * * Game.js Component * * * * * * * * * * * * * * * * * * * * * * * */

#ping-button{
    height: fit-content;
    width: fit-content;
    background-color: blue;
    border: 1px solid black;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}
#ping-button:hover{
    background-color: rgba(0, 0, 255, 0.8);
}
#ping-result{
    width: 50px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 4px solid  rgb(191, 217, 250);
}
#ping-label{
    margin-top: auto;
    margin-bottom: auto;
}
#ping-container{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 20px;
    margin-bottom: 20px;*/

}
#help-icons{
    height:25px;
    width:25px;
    margin-left: 3px;
    margin-right: 3px;
}
.help-answer{
    margin-left: 0;
    margin-right: auto;
    width: fit-content;
}
.help-question{
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: auto;
    font-weight: bold;
    width: fit-content;
}
.help-subtitle{
    margin-top: 10px;
    margin-bottom: 0;
}
.help-content{
    height:fit-content;
    max-height: 300px;
    height: 100%;
    width: 90%;
    overflow-y: scroll;
    /*border: 2px solid blue;*/
    margin-left: auto;
    margin-right: auto;
}
.help-list{
    width: 95%;
    margin-top: 0;
    margin-bottom: 0;
}
.help-list > li{
    width:fit-content;
    margin-left: 0;
    margin-right: auto;
    overflow-wrap: normal;
}
.help-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#settings-input{
    border-radius: 5px;
    padding: 5px;
    border: 5px solid rgb(191, 217, 250);
}
#toolbar-help{
    height: 80px;
    width: 80px;
    border-radius: 50%;

}


#whistle-img{
    width: 50px;
    height: 30px;
    margin-top: 5px;
}

.game-status{
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
#toolbar{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 5px;
    width: 80%;
    min-width: fit-content;
    background-color: white; 
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 150px;
    border-radius: 10px;
    
    /*background-position: 0 50%;*/

}
#toolbar-hidden{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 29px;
    background-color: red; 
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 100% 150px;
    object-fit: cover;
}

#hide-arrow{
    height:25px;
    width:25px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: auto;
    padding:2px;
    border-radius: 50%;
}
#hide-arrow:hover{
    background-color: rgba(128, 128, 128, 0.3);
}
#show-arrow{
    height:25px;
    width:25px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding:2px;
    border-radius: 50%;
}
#show-arrow:hover{
    background-color: rgba(128, 128, 128, 0.3);
}

.mode-button-img{
    width: 100px;
    height:50%;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
}
.mode-button-img:hover{
    background-color: rgba(128, 128, 128, 0.2);
}
#settings-cog{
    margin-left: auto;
    margin-right: 0;
    padding-left:0;
    padding-right: 0;
}

#back-arrow{
    width: 10%;
    min-width: 40px;
    max-width: 70px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    padding: 5px;
    /*border: 5px solid white;*/
    margin-left: auto;
    margin-right: auto;
}
#back-arrow:hover{
    background-color: rgba(128, 128, 128, 0.2);
}
.toolbar-button{
   /* border: 1px solid green; */
    margin-top: auto;
    margin-bottom: auto;
    width: 120px;
    height: 100%;
    background-color: gray; 
    /*border-radius: 15px;*/
    line-height: 40px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
}

.toolbar-logo{
    width: 65%;
    height:50%;
    padding:5px;
    border-radius: 5px;
    margin:auto;
}
#toolbar-button-group{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-right: auto;
    margin-left: auto;

}

.toolbar-button:hover .toolbar-logo{
    background-color: rgba(128, 128, 128, 0.2);
}

.toolbar-button-selected{
    margin-top: auto;
    margin-bottom: auto;
    width: 120px;
    height: 100%;
    background-color: rgb(159, 164, 255); 
    line-height: 40px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 0;
}

.toolbar-button-selected:hover{
    background-color: rgb(159, 164, 255,0.7); 
}


.mode-button-light{
    color: black;
    background-color: white;
    border: 2px solid gray;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    height: 60%;
    border-radius: 15px;
    line-height: 40px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    
}


.mode-button-dark{
    color: white;
    background-color: rgb(36, 136, 87);
    border: 3px solid gray;
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    height: 60%;
    border-radius: 15px;
    line-height: 40px;
    font-weight: bold;
    font-size: 0.95rem;
    margin-left: auto;
    margin-right: auto;
}
.mode-button-dark:hover{
    background-color: rgb(22, 89, 57);
}


.playList{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}
#playList-container{
    max-height: 80vh;
    overflow-y: scroll;
    padding-bottom: 10px;

}
#playList-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}


.play-card{
    display: flex;
    flex-direction: row;
    width: 80%;
    min-width: 200px;
    margin: auto;
    color: gray;
    height: 90px;
    background-color: white;
    
}
.play-card-dark{
    display: flex;
    flex-direction: row;
    width: 80%;
    min-width: 200px;
    margin: auto;
    color: white;
    height: 90px;
    background-color: black;
    
}
.right-card{
    text-align: left;
    height: fit-content;
    margin-top:auto;
    margin-bottom: auto;
    margin-left:5%;
}
.left-card{
    margin-left: 20px;
    height: fit-content;
    margin-top:auto;
    margin-bottom: auto;
    margin-right:5%;
}
.card-description{
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}
.card-description-dark{
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}
.card-description-body-dark
{
    font-size: 1rem;
    color: white;
}
.card-description-body
{
    font-size: 1rem;
    color: black;
}
.card-description-basic{
    font-size: 1rem;
    color: black;
    font-weight: bold;
}
.card-description-basic-dark{
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.card-description-goal{
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}
.card-description-assist{
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

.time-remaining-text{
    border-radius: 10px;
    border: 2px solid rgb(200, 200, 200);
    padding:5px 10px;
    width: 60px;
    font-weight: bold;
    color: black;
}
.time-remaining-text-dark{
    border-radius: 10px;
    border: 2px solid rgb(200, 200, 200);
    padding:5px 10px;
    width: 60px;
    font-weight: bold;
    color: white;
}

.time-remaining-text-goal{
    border-radius: 10px;
    padding:5px 10px;
    border: 2px solid white;
    background-color: white;
    width: 60px;
    font-weight: bold;
    color: black;
}

.play-card-basic{
    display: flex;
    background-color: rgba(128, 128, 128, 0.1);
    width: 80%;
    min-width: 200px;
    margin: auto;
    height: 90px;
}

.play-card-basic-dark{
    display: flex;
    background-color: rgb(70, 70, 70);
    width: 80%;
    min-width: 200px;
    margin: auto;
    height: 90px;
}

.middle-basic-card{
    height: fit-content;
    margin:auto
}
.play-logo{
    width: 80px;
    height: 80px;
    margin-top:auto;
    margin-bottom: auto;
}
.bottom-goal-card{
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    color: gray;
    height: 90px;
}
.top-goal-card{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    color: gray;
    height: 90px;
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: 0 50%;
    opacity: 0.9;
}
.top-goal-card-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 90px;
}
.play-card-goal{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 200px;
    margin: auto;
    color: gray;
    height: 180px;
    /*border: 1px solid black;*/
}

.play-card-goal-score{
    font-size: 2rem;
    color: white;
    line-height: 90px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    
}
.play-card-goal-score2{
    font-size: 2rem;
    color: white;
    line-height: 90px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    opacity: 0.65;
    
}

#play-logo-score2{
    opacity: 0.65;
}

#goal-light-img{
    width: 40px;
    height: 40px;
}

p{
    /*margin: 0;*/
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 5px;
}
#goal-period{
    color: white;
}

#goal-light-container{
    height:fit-content;
    margin-top: auto;
    margin-bottom: auto;
    color:white;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
#period-indicator{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: gray;
    width: 80%;
    margin:auto;
    height: 50px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}
/* * * * * * * * * * * * * * * Score board * * * * * * * * * */

#score-board-retro{
    margin: auto;
    border-radius: 10px;
    border: 4px solid gray;
    width: 80%;
    min-width: fit-content;
    min-width: 650px;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    /*resize: vertical; */
    resize: none;
    overflow: hidden;
    min-height: 130px;
    max-height: 400px;
    height: 130px; /* needed to prevent team logos sizing to have weird behaviour */
    container-name: scoreboard;
    container-type: size;
    
}
#score-board-retro-hidden{
    margin: auto;
    border-radius: 10px;
    height:29px;
    max-height: 29px;
    border: 4px solid gray;
    width: 80%;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
}
#score-board-period-retro{
    font-weight: 800;
    font-size: 3rem;
    font-family: Scoreboard;
    text-align: right;
    width:fit-content;
    /*padding-left: 50px;*/
    padding-right: 10px;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    color: yellow;
}
.score-board-period-container-retro{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.score-board-period-label-retro{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    font-weight: bold;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic
}


#game-clock{
    font-weight: 800;
    font-size: 3.5rem;
    font-family: Scoreboard;
    text-align: right;
    width:fit-content;
    /*padding-left: 50px;*/
    padding-right: 10px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: auto;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    color: red;
    border-right: 4px solid gray;
    border-left: 4px solid gray;
    border-bottom: 4px solid gray;
}

.score-board-score-retro{
    font-weight: 800;
    font-size: 3.5rem;
    font-family: Scoreboard;
    text-align: right;
   /*padding-left: 8%;*/
    /*padding-right: 8%;*/
    width:fit-content;
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    
}

#score-board{
    margin: auto;
    border-radius: 5px;
    border: 1px solid gray;
    width: 80%;
    min-width: fit-content;
    background-color: rgb(241, 241, 241);
}
.score-board-info{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    color: white;
    font-size: 1rem;

    /* mainly for retro*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    
}
.score-board-info-middle{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    color: white;
    font-size: 1rem;

    /* mainly for retro*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    
}

.score-board-location{
    margin-top: 0;
    padding-bottom: 0;
}
.score-board-name{
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.score-board-sog{
    margin-top: 0;
    color: gray;
}
#score-board-container{
    display: flex;
    flex-direction: row;
    width:90%;
    min-width: fit-content;
    margin: auto;
}
.score-board-score{
    font-weight: 800;
    font-size: 3.5rem;
   /*padding-left: 8%;*/
    /*padding-right: 8%;*/
    margin-top: auto;
    margin-bottom: auto;
}

.score-board-logo{
    min-width: 100px;
    min-height: 100px;
    max-height: 200px;
    width:auto;
    height:60%;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.cg-logo-1{
    width: 300px;
    height: auto;
    padding-top: 20px;
}
.cg-logo-small{
    width: 10%;
    min-width: 40px;
    max-width: 115px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#display{
    padding-top: 20px;
}

/* as user resizes scoreboard */
@container scoreboard (height > 300px) and (width > 1300px) {
    .score-board-score-retro {
      font-size: 6rem;
    }
    .score-board-info{
        font-size: 2rem;
    }
    .score-board-name{
        font-size: 3rem;
    }
    .score-board-period-container-retro{
        margin-top: 30px;
        margin-bottom: auto;
    }
    #score-board-period-retro{
        font-size: 6rem;
    }
    .score-board-period-label-retro{
        font-size: 3rem;
    }

    #game-clock{
        font-size: 6rem;
        border-top: 4px solid gray;
        margin-top: auto;
    }
}
@container scoreboard (height > 300px) and (width > 950px) and (width < 1300px) {
    .score-board-score-retro {
        font-size: 4rem;
      }
      .score-board-info{
          font-size: 1.5rem;
      }
      .score-board-name{
          font-size: 2.5rem;
      }
      .score-board-period-container-retro{
          margin-top: 30px;
          margin-bottom: auto;
      }
      #score-board-period-retro{
          font-size: 4rem;
      }
      .score-board-period-label-retro{
          font-size: 2.5rem;
      }
  
      #game-clock{
          font-size: 4rem;
          border-top: 4px solid gray;
          margin-top: auto;
      }
}
@media only screen and (min-width: 1400px){
    #score-board-retro{
        resize: vertical;
    }
}

@container scoreboard (height > 200px) and (height < 300px) and (width > 950px){
    .score-board-score-retro {
      font-size: 4rem;
    }
    .score-board-info{
        font-size: 1.5rem;
    }
    .score-board-name{
        font-size: 2.5rem;
    }
    .score-board-period-container-retro{
        margin-top: 30px;
        margin-bottom: auto;
    }
    #score-board-period-retro{
        font-size: 4rem;
    }
    .score-board-period-label-retro{
        font-size: 2.5rem;
    }

    #game-clock{
        font-size: 4rem;
        border-top: 4px solid gray;
        margin-top: auto;
    }
}

/*********************** Progress Bar *************************/
.progress-bar{
    width: 250px;
    height:5px;
    border-radius: 20px 0 0 20px;
    background-color: gray;
    border: 1px solid black;
    margin-top: auto;
    margin-bottom: auto;
}
.progress-bar-value{
    height: 100%;
    border-radius: 20px 0 0 20px;
}
.progress-bar-ext{
    background-color: gray;
    height: 5px;
    width: 50px;
    border: 1px solid black;
    border-radius: 0 20px 20px 0;
    margin-top: auto;
    margin-bottom: auto;
}
.progress-bar-container{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;

}
.progress-bar-slider{
    width:fit-content;
    height:20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    font-size: 0.7rem;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
}
.progress-bar-container-with-label{
    display: flex;
    flex-direction: column;
}
/*********************** Toggle Switch *************************/

.toggle-right-label{
    margin-left: 35px;
}

.toggle-switch-container{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}
.toggle-switch-container-big{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
}

/* Container for the toggle */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
}

#small-toggle-switch{
    width: 50px;
    height: 24px;
}

/* Hide default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The track */
.slider {
    position: absolute;
    cursor: pointer;
    background-color: rgb(225, 225, 225);
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

/* The circular slider */
.slider::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

#small-slider::before{
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
}

/* Toggled state */
.toggle-switch input:checked+.slider {
    background-color: rgb(191, 217, 250);
}
.toggle-switch input:checked+.slider::before {
    transform: translateX(28px);
}
#small-toggle-switch input:checked+.slider{
    background-color: gray;
}
#small-toggle-switch input:checked+.slider::before {
    transform: translateX(22px);
}

.toggle-label{
    padding-bottom: 0;
    margin: auto;
}

.toggle-left-label{
    margin-right: -10px;
}

.line-input{
    font-size: 15px;
    line-height: 30px;
    height: fit-content;
    width: 60px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
    border: 0;
}

.line-container{
    display: flex;
    flex-direction: row;
}
.over-under-container{
    width:fit-content;
    display: flex;
    flex-direction: row;
    gap:10px;
    background-color: white;
    padding:3px;
    border-radius: 5px;
    margin-left: 10px;
}
.over-under-tab{
    display: block;
    background-color: gray;
    height: 8px;
    width: 100%;
    border-radius: 5px;
}

/* * * * * * * * * * * * * * *  * *  * * * * * *  * * * Score Reaction  * * * * *  * * * * * * * * * * * * */


/* Keyframes for the flashing effect */

@keyframes flash {
  0% {
    color: rgb(215, 108, 108);
  }
  100% {
    color: white;
  }
}




.scoreReaction{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sr-container{
    display: flex;
    flex-direction: column;
    border: 3px solid white; /* will have to be set to the secondary color of the team in the component*/
    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: 15px;
}

#sr-headshot{
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: auto;
}
.sr-title{
    display: flex;
    flex-direction: row;
    width:fit-content;
    height: fit-content;
    margin-top: 1%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    
}
#sr-player-name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 4px black;
    color: white;
    font-size: 7rem;
    font-style: italic;
}
.sr-overlay{
    height:90%;
    width: 90%;
    background-color: transparent;
    border-radius: 15px;
/*border: 3px solid green;*/
    display:flex;
    flex-direction: column;
    margin:auto;
    position: absolute;
    z-index: 2;
}
.sr-overlay2{
    height:100%;
    width: 100%;
    background-color: transparent;
    border-radius: 15px;

    display:flex;
    flex-direction: column;
    margin:auto;
    position: absolute;
    z-index: 3;
}

#sr-bg-logo{
    display: block;
    width: 100%;
    height:100%;
    filter: grayscale(100%);
    opacity: 20%;
    overflow: hidden;
    margin: auto;
}

#sr-goal-text{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 5px black;
    color: white;
    font-size: 10rem;
    animation: flash 1s infinite alternate; 
    
}

#sr-goal-number{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 8px black;
    color: white;
    font-size: 30rem;
    margin: auto;
    
}
#gl{
    width: 70px;
    height: 140px;
    margin-top: 25px;  
}

@media (min-aspect-ratio: 1/1) {
    #sr-headshot{
        width: auto;
        height: 60%;
  }
  #sr-goal-text{
    -webkit-text-stroke: 0.5vh black;
    font-size: 15vh;
}
#gl{
    width: 7.5vh;
    height: 15vh;
    margin-top: 2vh;  
}
#sr-goal-number{
    -webkit-text-stroke: 1vh black;
    font-size: 48vh;
}
#sr-player-name{
    -webkit-text-stroke: 0.5vh black;
    font-size: 10vh;
}
}
  @media (max-aspect-ratio: 1/1) {
    #sr-headshot{
        width: 60%;
        height: auto;
  }
  #sr-goal-text{
    -webkit-text-stroke: 0.5vw black;
    font-size: 15vw;
}
#gl{
    width: 7.5vw;
    height: 15vw;
    margin-top: 2vw;  
}
#sr-goal-number{
    -webkit-text-stroke: 1vw black;
    font-size: 48vw;
}
#sr-player-name{
    -webkit-text-stroke: 0.5vw black;
    font-size: 10vw;
}
}
/*
@media only screen and (max-width: 1100px){

    
    #sr-player-name{
        -webkit-text-stroke: 3px black;
        font-size: 5rem;
    }
    
}
@media only screen and (max-width: 750px){


    #sr-player-name{
        -webkit-text-stroke: 3px black;
        font-size: 4rem;
    }
    
}

@media only screen and (max-height: 1100px){

    
    
    #sr-player-name{
        -webkit-text-stroke: 3px black;
        font-size: 4rem;
    }
    
}
@media only screen and (max-height: 750px){

    #sr-player-name{
        -webkit-text-stroke: 2px black;
        font-size: 3rem;
    }
    
}*/

/* * * * * * * * * * * * * * *  * *  * * * * * *  * * * Summary  * * * * *  * * * * * * * * * * * * */
.basic-container{
    height:100%;
    width:100%;
}

.summary{
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 1300px;
    min-width: 600px;
    margin: auto;
    height: 65%;
    min-height: 600px;
    max-height: 1300px;
    background-color: transparent;
    border-radius: 10px;
    gap: 2%;
    container: summary;
    container-type: size;
}

.summary-stat{
    display: flex;
    flex-direction: column;
    height: 8%;
    width: 100%
}
.summary-stat-pp{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%
}
.summary-stat-text{
    color: gray;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding:0;
}
.home-summary-stat-value{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-left: 0;
    margin-right: auto;
    padding:0;
}
.away-summary-stat-value{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-left: auto;
    margin-right: 0;
    padding:0;
}
.home-summary-stat-value-pp{
    font-size: 1.5rem;
    color: gray;
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
    padding:0;
}
.away-summary-stat-value-pp{
    font-size: 1.5rem;
    color: gray;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    padding:0;
}
.bottom-summary-stat-pp{
    display: flex;
    flex-direction: row;
    height: fit-content;
    
}

.top-summary-stat{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
}
.bottom-summary-stat{
    display: flex;
    flex-direction: row;
    height: fit-content;/*70%;*/
}
.home-summary-stat-line{
    height: 17px;
    border-radius: 5px 0 0 5px;
    margin-left: 0;
    margin-right: auto;
    
}
.away-summary-stat-line{
    height: 17px;
    border-radius: 0 5px 5px 0;
    margin-left: auto;
    margin-right: 0;
}
.home-summary-title{
    font-size: 5rem;
    font-weight: bold;
    margin-left: 0;
    margin-right: auto;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 2px white;
}
.away-summary-title{
    font-size: 5rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 2px white;
}
.summary-title-container{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
}

/* as user resizes scoreboard */
@container summary (height < 650px){
    .home-summary-stat-value{
        font-size: 1.5rem;
    }
    .away-summary-stat-value{
        font-size: 1.5rem;
       
    }
    .home-summary-stat-value-pp{
        font-size: 1.25rem;
       
    }
    .away-summary-stat-value-pp{
        font-size: 1.25rem;
    }
    .home-summary-title{
        font-size: 4rem;
    }
    .away-summary-title{
        font-size: 4rem;
    }
    .home-summary-stat-line{
        height: 15px;
    }
    .away-summary-stat-line{
        height: 15px;
    }
}

/* need to add the rest */
#color-ANA{
    background-color: rgba(252, 76, 2);
}
#color-BOS{
    background-color: rgba(252, 181, 20);
}
#color-BUF{
    background-color: rgba(0, 48, 135);
}
#color-CAR{
    background-color: rgba(206, 17, 38);
}
#color-CBJ{
    background-color: rgba(0,38,84);
}
#color-CGY{
    background-color: rgba(210, 0, 28);
}
#color-CHI{
    background-color: rgba(207,10,44);
}
#color-COL{
    background-color: rgba(111, 38, 61);
}
#color-DAL{
    background-color: rgba(0, 104, 71);
}
#color-DET{
    background-color: rgba(206,17,38);
}
#color-EDM{
    background-color: rgba(252, 76, 0);
}
#color-FLA{
    background-color: rgba(4,30,66);
}
#color-LAK{
    background-color: rgba(162,170,173);
}
#color-MIN{
    background-color: rgba(2, 73, 48);
}
#color-MTL{
    background-color: rgba(175, 30, 45);
}
#color-NJD{
    background-color: rgba(206, 17, 38);
}
#color-NSH{
    background-color: rgba(255,184,28);
}
#color-NYI{
    background-color: rgba(0,83,155);
}
#color-NYR{
    background-color: rgba(0,56,168);
}
#color-OTT{
    background-color: rgba(218, 26, 50);
}
#color-PHI{
    background-color: rgba(247, 73, 2);
}
#color-PIT{
    background-color: rgba(252,181,20);
}
#color-SEA{
    background-color: rgba(153, 217, 217);
}
#color-SJS{
    background-color: rgba(0, 109, 117);
}
#color-STL{
    background-color: rgba(0, 47, 135);
}
#color-TBL{
    background-color: rgba(0, 40, 104);
}
#color-TOR{
    background-color: rgba(0, 32, 91);
}
#color-UTA{     
    background-color: rgba(105, 179, 231);
}
#color-VAN{
    background-color: rgba(0, 32, 91);
}
#color-VGK{
    background-color: rgba(185,151,91);
}
#color-WPG{
    background-color: rgba(4,30,66);
}
#color-WSH{
    background-color: rgba(4 30 66);
}

#f-color-ANA{
    color: rgba(252, 76, 2);
}
#f-color-BOS{
    color: rgba(252, 181, 20);
}
#f-color-BUF{
    color: rgba(0, 48, 135);
}
#f-color-CAR{
    color: rgba(206, 17, 38);
}
#f-color-CBJ{
    color: rgba(0,38,84);
}
#f-color-CGY{
    color: rgba(210, 0, 28);
}
#f-color-CHI{
    color: rgba(207,10,44);
}
#f-color-COL{
    color: rgba(111, 38, 61);
}
#f-color-DAL{
    color: rgba(0, 104, 71);
}
#f-color-DET{
    color: rgba(206,17,38);
}
#f-color-EDM{
    color: rgba(252, 76, 0);
}
#f-color-FLA{
    color: rgba(4,30,66);
}
#f-color-LAK{
    color: rgba(162,170,173);
}
#f-color-MIN{
    color: rgba(2, 73, 48);
}
#f-color-MTL{
    color: rgba(175, 30, 45);
}
#f-color-NJD{
    color: rgba(206, 17, 38);
}
#f-color-NSH{
    color: rgba(255,184,28);
}
#f-color-NYI{
    color: rgba(0,83,155);
}
#f-color-NYR{
    color: rgba(0,56,168);
}
#f-color-OTT{
    color: rgba(218, 26, 50);
}
#f-color-PHI{
    color: rgba(247, 73, 2);
}
#f-color-PIT{
    color: rgba(252,181,20);
}
#f-color-SEA{
    color: rgba(153, 217, 217);
}
#f-color-SJS{
    color: rgba(0, 109, 117);
}
#f-color-STL{
    color: rgba(0, 47, 135);
}
#f-color-TBL{
    color: rgba(0, 40, 104);
}
#f-color-TOR{
    color: rgba(0, 32, 91);
}
#f-color-UTA{     
    color: rgba(105, 179, 231);
}
#f-color-VAN{
    color: rgba(0, 32, 91);
}
#f-color-VGK{
    color: rgba(185,151,91);
}
#f-color-WPG{
    color: rgba(4,30,66);
}
#f-color-WSH{
    color: rgba(4 30 66);
}






